/* Robert Nicoll - HNC computing
   version 2 */ 

/* 23.01.17 added css to give basic black/green colour scheme */
/* 30.01.17 added rest of css for home & buttons */



body{color: #39FF1A;
    font-size: 15px;
    background: #000000}

a{

    color: #39FF1A;
    text-transform: capitalize;
    font-size: 25px;

}


table, th, td {
    border: 1px solid #39FF1A;
    border-collapse: collapse;
}

th{
    font-size: 35px;
    
}

input[type=text] {
    border-collapse: collapse;
    background: #000000;
    border: 0px solid #39FF1A;
    color: #39FF1A;
}

/*↑ 23.01.17 ---- ↓ 30.01.17*/


input[type=button] {
    height: 30px;
    width:  250px;
    color: #000000;
    background-color: #39FF1A;
    border: 1px solid #39FF1A;
    vertical-align: middle;
    text-transform: capitalize;
}

#home {

    text-transform: capitalize;
}

a:link, a:visited {
    height: 30px;
    width:  500px;
    background-color: #39FF1A;
    color: #000000;
    padding: 3px 5px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}