body{color: #39FF1A;

     background: #000000}

a{

   color: #39FF1A;
   text-transform: capitalize;

}


table, th, td {
    border: 1px solid #39FF1A;
    border-collapse: collapse;}

input[type=text] {
    border-collapse: collapse;
    background: #000000;
    border: 0px solid #39FF1A;
    color: #39FF1A;
}

input[type=button] {
  color: #000000;
  background-color: #39FF1A;
  border: 1px solid #39FF1A;
  text-transform: capitalize;
}

#th- {
    
    border-collapse: collapse;
    
}